.user_list{
    height: 300px;
    overflow-y: scroll;
}

#Input1{
    width: 100%; 
    background-color: aliceblue;
}

#Input2{
    width: 100%; 
    background-color: aliceblue;
}

.button_controls{
    margin-top: 20px;
}